/* 1. Use a more-intuitive box-sizing model */

:root {
  --panel-width: calc(100% / 6);
  --darkblue: #02020c;
  --white: #c4c4c4;
  --lightgray: #c4c4c4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.dashboard_section {
  @apply flex-auto px-10 sm:px-4 py-8 flex flex-col gap-5 overflow-auto;
}

.dashboard_header {
  @apply text-3xl font-medium sm:text-xl md:text-2xl;
}

.width-1 {
  width: calc((100% / 3) - 10px);
}

.gd-text-primary {
  @apply inline-block bg-gradient-to-tr from-white to-primary text-transparent bg-clip-text;
}
.gd-text-game {
  @apply inline-block bg-gradient-to-tr from-white to-game text-transparent bg-clip-text;
}

.progress {
  --size: 100px;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  background: conic-gradient(#000 var(--progress, 0), #ccc 0);
  display: grid;
  place-content: center;
  transition: all ease-in;
}
.progress:after {
  width: calc(var(--size) * 0.8);
  aspect-ratio: 1;
  content: attr(data-value);
  display: grid;
  background: #ffffff;
  border-radius: 50%;
  display: grid;
  font-size: calc(var(--size) * 0.4);
  place-content: center;
  font-family: arial;
}

.clip-start {
  clip-path: polygon(0 0, 67% 0, 100% 100%, 0% 100%);
}

.clip-end {
  clip-path: polygon(30% 1%, 100% 0, 100% 100%, 0% 100%);
}

.hide-bg {
  mix-blend-mode: multiply;
  filter: contrast(1);
}

.panels {
  position: fixed;
  top: 0;
  left: 50%;
  width: 180vw;
  height: 100%;
  transform: translateX(-50%) skewX(-35deg);
  clip-path: circle(100%);
  z-index: 1;
  background: var(--lightgray);
}
.panels .panel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--panel-width);
  transform: scaleY(0);
  transform-origin: top;
  background: var(--darkblue);
}
.panels .panel:nth-child(even) {
  transform-origin: bottom;
}
.panels .panel:nth-child(2) {
  left: calc(var(--panel-width) - 1px);
}
.panels .panel:nth-child(3) {
  left: calc(calc(var(--panel-width) * 2) - 2px);
}
.panels .panel:nth-child(4) {
  left: calc(calc(var(--panel-width) * 3) - 4px);
}
.panels .panel:nth-child(5) {
  left: calc(calc(var(--panel-width) * 4) - 5px);
}
.panels .panel:nth-child(6) {
  left: calc(calc(var(--panel-width) * 5) - 6px);
}
.start-screen-main {
  display: flex;
  height: 100%;
  padding: 100px 15px;
  overflow-y: auto;
  background: var(--darkblue);
}
.start-screen-main > div {
  text-align: center;
  margin: auto;
}
